body {
  font-family: Arial, sans-serif;
  background-color: #000000;
  margin: 0;
  padding: 20px;
}

header {
  color: #ffffff;
  display: flex;
  flex-direction: row;
  justify-content: space-between;

}

.administrar {
  display: flex;
  flex-direction: row;
  gap: 30px;
  margin: -10px 10px;
}

.administrar img {
  height: 50px;
  margin: 7px -20px;

}



h1 {
  padding-top: 100px;
  text-align: center;
  color: #ffffff;
}

.usuarios {
  display: flex;
  align-items: center;
  justify-content: space-around;
  flex-direction: row;
  padding: 50px;
  margin: 100px;
 
}

a {
  text-decoration: none;
}

.usuarios img {
  width: 150px;
  color: #ffffff;
 
}




 h3 {
  margin-top: 15px;
  font-size: 22px;
  color: #ffffff;
  display: flex;
  text-align: center;
  justify-content: center;
 

}
